<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="STEP_DELAY">250</entry>
<entry key="TOURNAMENT_MODE_ENABLED">false</entry>
<entry key="AGENT_TWO_CLASSPATH">edu.iastate.cs228.game.simulation.agent.RandomActionAgent</entry>
<entry key="MAX_AGENT_MOVE_TIME_ENFORCED">true</entry>
<entry key="AGENT_ONE_CLASSPATH">U:\cs228\project3\cs228project3\bin\cs228hw4\game\MyAgent.class</entry>
<entry key="GALAXY_TYPE">RANDOM</entry>
<entry key="NUM_SYSTEMS">20</entry>
</properties>
